h1, h2, h3, h4 {
    color:red;
    font-family: Times, serif;
}
h1 {
    font-size: 40px;
    color: hsl(250, 90%, 50%);
}
h2 {
    font-size: 35px;
    color: hsl(250, 80%, 50%);
}
h3 {
    font-size: 30px;
    color: hsl(250, 70%, 50%);
}
h4 {
    font-size: 20px;
    color: hsl(250, 60%, 50%);
}

li.active {
    background-color: rgb(151, 69, 28);
}

li.active a{
    color: red;
}

nav ul li:hover {
    background-color: #abc;
}

main p {
    font-size: small;
}
.job-description {
    font-weight: 200;
}

#education tr:nth-child(2n+1) {
    background-color: #aaa;
}
