/* Google Font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 10px;
    border: 2px black solid;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black; 
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: orange;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color:black;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #3BAF9F;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    overflow: none;
}
.submit:hover{
    background-color: #5390F5;
    transition: .5s;
}
.sigup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.sigup_link a{
    color: orange;
    text-decoration: none;
}
.sigup_link a:hover{
    text-decoration: underline;
}