/* Google Font (Roboto 400). Link:https://fonts.google.com/specimen/Roboto?preview.text_type=custom */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Set up */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-size: 67.5%;
}

img {
    max-width: 100%;
}

body {
    background: #f2f2f2;
}

/*
============
===Header===
============ 
*/

/* Navigation */

nav {
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    padding: 0 60px;
    z-index: 1000;
}

/* Logo */

nav .logo img {
    color: #fff;
    height: 50px;
    margin: 0;
}

/* Navigation Items */

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items .logo-mobile {
    display: none;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

nav .nav-items li a:hover {
    color: #1995ad;
}

/* Social Media */

.social-mobile {
    position: sticky;
    top: 75%;
    float: left;
    width: 100%;
    margin: 0;
    display: none;
}

.social-mobile ul {
    display: block;
    text-align: center;
    margin: 0;
}

.social-mobile ul li {
    display: inline-block;
    margin: 0 5px;
}

.social-mobile ul li a {
    display: block;
    font-size: 15px;
    color: #ffffff;
    padding: 0 5px;
}

/* Search */

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #fff;
    min-width: 18% !important;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: black;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
    outline: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #f18d9e;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #dd8090;
}

/* Cart */

.cart {
    cursor: pointer;
    display: flex;
    padding-left: 5px;
    margin: 0px 30px;
}

.cart i {
    position: relative;
    font-size: 25px;
    color: black;
}

.cart .num-cart-product {
    position: absolute;
    bottom: 18px;
    left: 18px;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

/* User-Account */

.user-account {
    cursor: pointer;
    display: flex;
    padding-left: 5px;
    margin: 0px 10px;
}

.user-account i {
    font-size: 25px;
    color: black;
}

/* Icon (Tablet-Mobile) */

nav .menu-icon, nav .search-icon, nav .cart-icon, nav .user-icon {
    width: 40px;
    text-align: center;
    margin: 0 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span, nav .cancel-icon, nav .cancel-icon-nav, nav .search-icon, nav .cart-icon, nav .user-icon {
    display: none;
}

.nav-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.nav-items .cancel-icon-nav {
    position: absolute;
    right: 30px;
    top: 20px;
}

.cancel-icon span::before {
    margin: 0 16px;
}

/* 
============
===Footer=== 
============
*/

#footer {
    line-height: 1.5;
    position: relative;
    background-color: #24262b;
    padding: 20px 0;
    width: 100%;
}

.footer .container {
    max-width: 1170px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .pay-ship-logo {
    width: 200px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px 5px;
}

.footer-col .pay-ship-logo li {
    margin: 0 5px;
}

.footer-col .pay-ship {
    width: 30px;
    height: 30px;
}

.copyright {
    width: 200px;
    height: 10px;
    margin-left: 100px;
    margin-top: 50px;
}

.copyright span {
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 1px;
}

/* Members Images and Information */
.top-title {
    font-size: 80px;
    text-align: center;
    font-family: 'Zilla Slab Highlight', cursive;
}
.main-title {
    padding:0;
}

.team-container{
    padding-top: 100px;
    
}

main .team-container:after {
    clear: both;
    content:"";
    display: flex; 
}

.member-name, .member-title {
    font-size: 25px;
    text-align:center;
}

.team-member-image {
    width: 25%;
    padding: 15px;
    float: left;
}

.group-image{
    width: 60%;
    margin-left: 20%
}
/* 
  ================
  ===Responsive===
  ================
  */
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .team-member-image {
      width: 100%;
    }
}

@media only screen and (max-width: 1246px) {
    /* Navigation */
    nav {
        padding: 0 50px;
    }
    nav .logo img {
        height: 40px;
    }
    nav .nav-items li a {
        font-size: 13px;
    }
    .search-box-wrapper {
        width: 20%;
    }
    nav form {
        height: 28px;
        width: 100%;
    }
    .cart {
        margin: 0 30px;
    }
    .cart i {
        font-size: 20px;
    }
    .cart .num-cart-product {
        left: 14px;
        bottom: 14px;
    }
}

@media only screen and (max-width: 1134px) {
    nav {
        padding: 0 25px;
    }
}

@media only screen and (max-width: 1024px) {
    nav {
        padding: 0px;
    }
    nav .logo {
        flex: 2;
        text-align: left;
    }
    nav .nav-items .logo-mobile {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex: 2;
        align-items: center;
        height: 36px;
    }
    /* Navigation Items */
    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 0px;
        width: 40%;
        left: -100%;
        height: 100%;
        padding: 0 50px;
        text-align: center;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        display: inline-block;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        left: 0px;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        font-size: 20px;
    }
    nav .nav-items .social-mobile {
        display: block;
    }
    /* Search */
    nav form {
        position: absolute;
        top: 80px;
        right: 20%;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
        width: 25%;
    }
    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }
    nav form:before {
        position: absolute;
        content: "";
        top: -18px;
        right: 91%;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #629ec7;
        margin: -20px 0 0;
    }
    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #71b7e6;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    nav .menu-icon {
        display: block;
    }
    nav .search-icon, nav .cart-icon, nav .user-icon, nav .menu-icon span {
        display: block;
    }
    nav .menu-icon span.hide, nav .search-icon.hide, nav .cart-icon.hide, nav .user-icon.hide {
        display: none;
    }
    nav .cancel-icon.show, nav .cancel-icon-nav.show {
        display: block;
    }
    nav .cancel-icon.show {
        margin: 0 28px;
    }
    nav .cart, nav .user-account {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    /* Header */
    /* Icon (Tablet-Mobile) */
    nav .menu-icon, nav .cancel-icon, nav .cancel-icon-nav, nav .search-icon, nav .cart-icon, nav .user-icon {
        margin: 0 20px;
    }
    nav .nav-items {
        width: 35%;
    }
    nav .nav-items li {
        line-height: 20px;
    }
    nav form {
        right: 17%;
    }
    /* Footer */
    .footer-col {
        width: 25%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768) {
    /* Header */
    /* Icon (Tablet-Mobile) */
    nav .menu-icon, nav .cancel-icon, nav .cancel-icon-nav, nav .search-icon, nav .cart-icon, nav .user-icon {
        margin: 0 10px;
        font-size: 15px;
    }
    nav .logo {
        font-size: 20px;
    }
    /* Footer */
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    /* Header */
    /* Icon (Tablet-Mobile) */
    nav .menu-icon, nav .cancel-icon, nav .cancel-icon-nav, nav .search-icon, nav .cart-icon, nav .user-icon {
        margin: 0 10px;
        font-size: 15px;
    }
    nav .logo img {
        height: 10px;
    }
    /* Footer */
    .footer-col {
        width: 100%;
    }
}