/* Google Font (Roboto 400). Link:https://fonts.google.com/specimen/Roboto?preview.text_type=custom */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Set up */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
html{
  font-size: 67.5%;
}
img{
  max-width: 100%;
}
body{
  background: #f2f2f2;
}
/*
============
===Header===
============ 
*/

/* Navigation */
nav{
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  padding: 0 60px;
  z-index: 1000;
}

/* Logo */
nav .logo img{
  color: #fff;
  height: 50px;
  margin: 0;
}

/* Navigation Items */
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items .logo-mobile{
  display: none;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}

nav .nav-items li a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

nav .nav-items li a:hover{
  color: #1995ad;
}

/* Social Media */
.social-mobile{
  position: sticky;
  top: 75%;
  float: left;
  width: 100%;
  margin: 0;
  display: none;
}

.social-mobile ul{
  display: block;
  text-align: center;
  margin: 0;
}

.social-mobile ul li{
  display: inline-block;
  margin: 0 5px;
}

.social-mobile ul li a{
  display: block;
  font-size: 15px;
  color: #ffffff;
  padding: 0 5px;
}
/* Search */
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #fff;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}

nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
  outline: none;
}

nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #f18d9e;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav form button:hover{
  background: #dd8090;
}

/* Cart */
.cart{
  cursor: pointer;
  display: flex;
  padding-left: 5px;
  margin: 0px 30px;
}

.cart i{
  position: relative;
  font-size: 25px;
  color: black;
}

.cart .num-cart-product{
  position: absolute;
  bottom: 18px;
  left: 18px;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #0b9d8a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

/* User-Account */
.user-account{
  cursor: pointer;
  display: flex;
  padding-left: 5px;
  margin: 0px 10px;
}
.user-account i{
  font-size: 25px;
  color: black;
}

/* Icon (Tablet-Mobile) */
nav .menu-icon,
nav .search-icon,
nav .cart-icon,
nav .user-icon{
  width: 40px;
  text-align: center;
  margin: 0 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .cancel-icon-nav,
nav .search-icon,
nav .cart-icon,
nav .user-icon{
  display: none;
}

.nav-icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}


.nav-items .cancel-icon-nav{
  position: absolute;
  right: 30px;
  top: 20px;
}

.cancel-icon span::before{
  margin: 0 16px;
}


/*
===============
===Home Page=== 
===============
*/

/* Heading Slider */
#advertisement{
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Slide with autoplay and manual navigation button */

.home{
  height: 70vh;
  position: relative;
}

.home .container{
  position: relative;
  width: 1020px;
  height: 440px;
  background: #f2f2f2;
  margin: 0px 20px 10px 20px;
}
.home .slide{
  position: absolute;
  left: 0;
  top: 0;
  width: 1050px;
  height: 440px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display:none;
  padding: 0 15px;
  animation: slide 2s ease;
}

.home .slide.active{
  display: flex;
}

.home .slide img{
  z-index: 1;
  margin: 0px -5px 0px -15px;
  width: 1030px;
  height: 440px;
}

  /*-- Prev, Next buttons */
.home .controls .prev,
.home .controls .next{
  position: absolute;
  z-index: 1;
  top: 32%;
  height:60px;
  width: 30px;
  color:#ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  cursor:pointer;
  transition: all .5s ease;
}
.home .controls .prev:hover, .home .controls .prev:active,
.home .controls .next:hover, .home .controls .next:active{
  background-color: black;
  color: #FF5722;
}
.home .controls .prev{
  right: 1010px;
}
.home .controls .next{
  left: 1010px;
}

.home .indicator{
  position: absolute;
  left: 50%;
  top: 420px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div{
  display: inline-block;
  width:15px;
  height: 15px;
  background-color: white;
  border-radius:50%;
  text-align: center;
  line-height: 25px;
  margin:0 3px;
}

.home .indicator div.active{
  background-color: #000;
}

/* Collection */
.collection{
  display: flex;
  flex-direction: column;
}

.collection-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 50px 160px;
}

.collection-box{
  background: #fff;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  border: 1px solid black;
  margin: 5px 5px;
}
.c-header{
  padding: 0 20px;
  margin-bottom: 10px;
}
.header-text{
  max-height: 54px;
  font-size: 1.2rem;
  line-height: 27px;
}

.c-body{
  height: 275px;
  padding: 0 20px;
}
.c-link{
  height: 100%;
  width: 100%;
}
.body-image{
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}
.body-image img{
  height: 100%;
  max-height: 100%;
  max-width: none;
  object-fit: cover;
  object-position: center;
}

.c-footer{
  padding: 0 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-link{
  text-decoration: none;
  color: #007185;
}

/* Feature Categories */
.feature-categories{
  display: flex;
  flex-direction: column;
}

.categories-heading{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 160px;
}

.categories-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
  
}

.feature-box{
  width: 100px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.feature-box a img{
  width: 100%;
  height: 68%;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}

.item span{
  width: 108px;
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  margin: 6px;
  color: #444444;
  text-align: center;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 147px;
  border: 1px solid gray;
  margin: 0px 3px;
  cursor: pointer;
}

.item:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.feature-categories .container{
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto 40px 210px;
}


/* Shop Mall */
.shop-heading{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
}

.shop-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
}

.shop-container{
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 10%;
}

.shop-box{
  display: block;
  width: 188px;
  height: 270px;
  background-color: #fff;
  margin: 5px 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.s-overlay{
  width: 188px;
  height: 36px;
  top: 152px;
  left: 0;
  position: absolute;
  opacity: 0.25;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);

}

.s-img{
  width: 188px;
  height: 188px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.s-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

}

.s-icon{
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  width: 52px;
  height: 52px;
  background-color: #fff;
  padding: 4px;
  position: relative;
  margin: -25px auto 0;
  overflow: hidden;
}

.s-icon img{
  width: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #f5f5f5;
}

.s-name, .s-name-p{
  position: relative;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.s-name{
  font-size: 14px;
  color: #212121;
  line-height: 18px;
  margin: 8px 8px 4px;
}

.s-name-p{
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
  margin: 0 8px;
}

.shop-box:hover{
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.shop-box:hover .shop-icon{
  display: flex;
}

.mall-shop{
  display: flex;
  flex-direction: column;
}

/* Suggestion Today */
.suggestion-heading{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
  margin-top: 40px;
}

.suggestion-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
}

.product-container{
  width: 81%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin: 10px 160px;
  background: #fff;
}

.product-box{
  display: block;
  width: 189px;
  height: 325px;
  background-color: #fff;
  margin: 5px 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.product-img{
  height: 200px;
  box-sizing: border-box;
}

.product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-details{
  display: flex;
  flex-direction: column;
  padding: 4px 8px 12px;
  background: #fff;
  border-top: 1px solid #f3f3f3;
}

.p-title{
  font-size: 15px;
  height: 36px;
  line-height: 18px;
  color: #212121;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa-star, .user-rating .footing{
  font-size: 10px;
}
.checked{
  color: orange;
}

.user-rating .footing{
  color: #727272;
}

.p-price{
  margin-top: 4px;
}

.price-first-line{
  line-height: 22px;
  height: 22px;
  font-size: 18px;
  color: red;
}

.price-second-line{
  margin-top: 4px;
  margin-right: 4px;
  line-height: 14px;
  height: 14px;
  color: #9e9e9e;
  font-size: 12px;
  display: flex;
  flex-direction: initial;
}

.price-second-line .price-text{
  text-decoration: line-through;
}

.price-second-line .discount-text{
  margin: 0px 4px;
  color: #ffffff;
  opacity: 0.8;
  background-color: red;
}

.product-box:hover{
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.suggestion-today{
  display: flex;
  flex-direction: column;
}

/* Service */
.services{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 70px;
}
.services-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  min-width: 250px;
  padding: 20px;
  margin: 15px;
  flex-grow: 0.7;
}
.services-box i{
  color: #0b9d8a;
  font-size: 2rem;
  margin: 15px;
}
.services-box span{
  color: #222222;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.services-box p{
  color: #878787;
  margin: 0px;
  font-size: 0.9rem;
}

/* 
============
===Footer=== 
============
*/
#footer{
  line-height: 1.5;
  position: relative;
  background-color: #24262b;
  padding: 20px 0;
  width: 100%;
}

.footer .container{
  max-width: 1170px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.footer .row{
  display: flex;
  flex-wrap: wrap;
}

.footer ul{
  list-style: none;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .pay-ship-logo{
  width: 200px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px 5px;
}
.footer-col .pay-ship-logo li{
  margin: 0 5px;
}
.footer-col .pay-ship{
  width: 30px;
  height: 30px;
}

.copyright{
  width: 200px;
  height: 10px;
  margin-left: 100px;
  margin-top: 50px;
}

.copyright span{
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 1px;
}






/* 
================
===Responsive===
================
*/

@media only screen and (max-width: 1246px) {
  /* Navigation */
  nav{
    padding: 0 50px;
  }
  nav .logo img{
    height: 40px;
  }
  nav .nav-items li a{
    font-size: 13px;
  }
  .search-box-wrapper{
    width: 20%;
  }
  nav form{
    height: 28px;
    width: 100%;
  }
  .cart{
    margin: 0 30px;
  }
  .cart i{
    font-size: 20px;
  }
  .cart .num-cart-product{
    left: 14px;
    bottom: 14px;
  }
}
@media only screen and (max-width: 1134px){
  nav{
    padding: 0 25px;
  }
}

@media only screen and (max-width: 1024px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: left;
  }
  nav .nav-items .logo-mobile{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex: 2;
    align-items: center;
    height: 36px;
  }

  /* Navigation Items */
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 0px;
    width: 40%;
    left: -100%;
    height: 100%;
    padding: 0 50px;
    text-align: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav .nav-items .social-mobile{
    display: block;
  }
  /* Search */
  nav form{
    position: absolute;
    top: 80px;
    right: 20%;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
    width: 25%;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -18px;
    right: 91%;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #629ec7;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #71b7e6;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  

  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .cart-icon,
  nav .user-icon,
  nav .menu-icon span{
    display: block;
  }

  nav .menu-icon span.hide,
  nav .search-icon.hide,
  nav .cart-icon.hide,
  nav .user-icon.hide{
    display: none;
  }
  nav .cancel-icon.show,
  nav .cancel-icon-nav.show{
    display: block;
  }
  nav .cancel-icon.show{
    margin: 0 28px;
  }
  nav .cart, nav .user-account{
    display: none;
  }
}

@media only screen and (max-width: 980px){
  /* Header */

  /* Icon (Tablet-Mobile) */
  nav .menu-icon,
  nav .cancel-icon,
  nav .cancel-icon-nav,
  nav .search-icon,
  nav .cart-icon,
  nav .user-icon{
    margin: 0 20px;
  }
  nav .nav-items{
    width: 35%;
  }
  nav .nav-items li{
    line-height: 20px;
  }
  nav form{
    right: 17%;
  }
  /* Footer */
  .footer-col{
    width: 25%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768){
  /* Header */

  /* Icon (Tablet-Mobile) */
  nav .menu-icon,
  nav .cancel-icon,
  nav .cancel-icon-nav,
  nav .search-icon,
  nav .cart-icon,
  nav .user-icon{
    margin: 0 10px;
    font-size: 15px;
  }
  nav .logo{
    font-size: 20px;
  }

  /* Footer */
  .footer-col{
    width: 100%;
  }
}

@media only screen and (max-width: 426px){
  /* Header */

  /* Icon (Tablet-Mobile) */
  nav .menu-icon,
  nav .cancel-icon,
  nav .cancel-icon-nav,
  nav .search-icon,
  nav .cart-icon,
  nav .user-icon{
    margin: 0 10px;
    font-size: 15px;
  }

  nav .logo img{
    height: 10px;
  }

  /* Footer */
  .footer-col{
    width: 100%;
  }
}